html {
  background: linear-gradient(to bottom, #ffffcc 60%, #003300 175%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: 'Telex', sans-serif;
  font-weight: 800;
}

body {
  text-align: left;
  padding: 50px;
}

.errors {
  color: tomato;
}
