<h1>New Client for <%= @user.name %></h1>
<div class="errors">
  <% if @client && @client.errors.any? %>
    <%= @client.errors.full_messages.join("<br/>") %>
  <% end %>  
</div>



<form method="post" action="/clients">
  <input class="" type="text" name="client[name]" placeholder="Client Name*">
  <!-- validation also enforced by validations defined in Client model Class -->
  <br/>
  <input class=""type="text" name="client[email]" placeholder="Client Email*">
  <!-- validation also enforced by validations defined in Client model Class -->
  <br/>
  <input class=""type="tel" name="client[phone_number]" placeholder="Client Phone Number">
  <br/>
  <input class="" type="submit" value="Create Client">
</form>

<form method="post" action="/clients">
  <input id="hidden" type="hidden" name="_method" value="GET">
  <input type="submit" value="Cancel">
</form>
