<h1>Welcome to the Custom Furniture Project Manager</h1>
<h2> <a href="/login">Login</a> </h3>
<p>OR</p>
<h2> <a href="/signup">Signup</a> </h3>
<h2>Check out the code behind this app on <a href="https://github.com/C1RCSAW/CustomFurniturePM" target="_blank">Github!</a></h2>
<h3>It's <%= Time.now.strftime("%A %B, %e %Y and the time is %I:%M%p") %></h3>
