<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Custom Furniture PM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  </head>
  <body>
    <main>
    <%= yield %>
    <% Time.zone =  'Eastern Time (US & Canada)' %>
    <% t = Time.new %>
    <h3>It's <%= t.strftime("%A %B, %e %Y and the time is %I:%M%p") %></h3>
    <!-- this will default to UTC timezone when deployed by Heroku, the fix is to either
    collect the time zone from Users when they sign up or use Javascript  -->
    </main>
  </body>
</html>
