<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Custom Furniture PM</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  </head>
  <body>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
