<form action="/login" method="post">
  <h2>Log In</h2>

  <%= @login_error if @login_error %>

  <h3> Username: <input type="text" name="username"> </h3>
  <h3> Password: <input type="password" name="password"> </h3>
  <h3> <input type="submit"> </h3>
</form>
